form {
  fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;


    legend {
      font-size: inherit;
      font-weight: bold;
      border: none;
      margin-bottom: 0.2em;
      padding-left: 1em;
      border: 1px solid #ccc;
    }

    label.check_box {
      font-weight: normal;
      padding-left: 20px;
      padding-bottom: 0.5em;

      input[type="checkbox"] {
        margin-left: -20px;
        margin-right: 7px;
        padding-bottom: 1em;
      }
    }
  }
}
