h2.caption {
  font-size: 1em;
  color: #666666;
  font-style: italic;
  text-align: center;
  margin: 0px;
}
.emoticon {
  font-size: 1.5em;

  img {
    width: 36px;
  }
}
form {
  .survey_session_rating_scale_self_efficacy {
    /*.radio {
      display: inline;

      label {
        display: inline-block;
        padding-right: 2em;

      }
    }*/

    label {
      font-weight: normal;
    }
  }
}
