$font-size-base: 20px;
$hr-border: #CCC;
$brand-primary: rgb(99, 167, 220);
$brand-warning: rgb(255, 206, 68);
$brand-danger: rgb(239, 121, 138);
$brand-info:    rgb(92, 189, 177);
$brand-success: rgb(215,218,8);
$state-danger-bg: lighten($brand-danger,20%);
$state-success-bg: lighten($brand-success,30%);
$state-success-text: #000;
$form-group-margin-bottom: 30px;
$btn-primary-color: #16405B;
$link-color: #16405B;